
:root{
--clr-primary-200: #f3eed9;
--Clr-primary-400: #824936;

--clr-neutral-100: #fff;
--clr-neutral-900: #222C2A;

--ff-primary: 'Roboto', sans-serif;
--ff-accent: 'playfair Display',serif;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p{
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--ff-primary);
    font-weight: 400px;
    line-height: 1.6;
    font-size: 1.3125rem;
}
h1,
h2,
h3 {
    font-family: var(--ff-accent);
    font-weight: 900px;
    line-height: 1;
    margin-bottom: 3rem;
}
.text-center{
    text-align: center;
    color: black;
}
section{
    padding: 3rem 0;
}
img{
    display: block;
    max-width: 100%;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
.container--narrow{
    max-width: 40rem;
}
.split{
    display: flex;
    flex-direction: column;
}
@media(min-width: 40em){
    .split{
        flex-direction: row;
    }
}
.split > *{
    flex-basis: 100%;
}
.split > * + *{
    margin-left: 2em;
}
header,
section{
    padding: 4rem 0;
}
.bg-light{
    background-color: var(--clr-primary-200);
    text-align: center;
}
.bg-dark{
    background-color: var(--clr-neutral-100);
}
.bg-accent{
    background-color: var(--clr-neutral-900);
}
h2{
    color: var(--clr-primary-200);
}
